body {

background-color: #d470a2; 
color: #000;

}

nav {

background-color: #c54b86; 

padding: 10px; 

}

nav ul {
list-style: none; 
padding: 0; 
margin: 0; 

}

nav ul li {
display: inline;
margin-right: 20px; 

}

nav a {
color: white; 
text-decoration: none;

}

nav a:hover
text-decoration: underline; 

}

.hero {
background-color: #f8d7da; 
padding: 50px 20px;
text-align: center;

}

.hero img {
display: block;
margin: 0 auto;
max-width: 100%;
height: auto;
}

.hero h1 {
color: #d63384;

}

.hero p {
color: #dc3545;

}
.container {
padding: 20px;

}
.profile, .about, .subscribe {
background-color: #ffd8f0;
padding: 40px 20px;
margin-bottom: 20px;
border-radius: 10px;

}

.profile h2, .about h2, .subscribe h2 {
color: #d63384;

}

.profile p, .about p, .subscribe p {
color: #dc3545;

}

form button[type="submit"] {
background-color: #d63384 
color: #ffff
border: none 
padding: 10px 20px 
cursor: pointer 
border-radius: 5px 
font-size: 16px !
}

form button[type="submit"]:hover {
background-color: #c53075 

}
